 <!-- Main carousel starts-->
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/it_bgimage.jpg" class="d-block w-100 h350" alt="..."> 
        <div class="top-right">Welcome to portfolio!</div>
        <div class="centered"><input type="button" id="btnhire" value="Hire Me">
        <!-- <div class="bottom-right"> -->
          <p class="emphasistext"> <i>A winner is a dreamer who never gives up. </i>
            <br>
              <i class="mleft50">              - Nelson Mandela     </i>  </p>  
         
        <!-- </div> -->
      </div>
      </div>
    </div>
  </div>
