<div class="container Mtop10 wper100"  > 
    <!-- First Row -->
    <div class="row Mbottom10">
      <div class="col-10 Mbottom10">
        <div class="pageborder">
            <p>
                We are a fast growing software development outsourcing company with robust project management processes and a consistent record of on time, on budget delivery.
                We are a young, vibrant software house located on the West Coast of India in the City of Cochin, the commercial hub of the southern state of Kerala, India. 
                It is founded in 2010. Twenty plus years later, our company is a professionally managed company, with low attrition rates growing at a fast clip.
                Our growth can be attributed to many things but at its core, it hinges on our vision and philosophy. Wehave an operating environment that supports an open learning culture that’s committed to excel at every project we undertake. This is best reflected in our people policies.
            </p>
        </div>
      </div>
    </div>

