<div class="pageborder">
    <p>
       <br><br><br>
            Code Gladiator (P) Limited<br>
            Unit 1: 20BC, A Block, 3rd Floor,<br>
            Cochin Special Economic Zone, Kakkanad,<br>
            Kochi - 682037, Kerala, INDIA.<br><br><br>

            Tel: +91-000-0000000<br>
            Fax: +91-484-0000000<br>
            info1234@codegladiator.com<br><br>

            Reg. Office: 37, Biswas Road,<br>
            Tevara, Kochi 686 581, Kerala, INDIA.<br><br>
        
    </p>

</div>

