
<div class="container Mtop10 wper100 pageborderOnly"  > 
    <!-- First Row -->
    <div class="row Mbottom10">
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;">  
          <img src="assets/images/finance.png" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Finance Products</h4>
            <p class="card-text">Save crucial time with pre-designed ledgers and stock groups</p>
            <button type="button" class="btn btngreen"> <a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/tourism.jfif" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Tourism Products</h4>
            <p class="card-text">Tourism management is the oversight of all activities related to the tourism and hospitality industries.</p>
            <button type="button" class="btn btngreen"> <a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/heathcare.webp" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Healthcare Applications</h4>
            <p class="card-text">Combining highly trained specialists and carefully refined processes with our world-class technology.</p>
            <button type="button" class="btn btngreen"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
     
    </div>
     <!-- Second Row -->
     <div class="row Mtop10">
      <div class="col-md-4 Mtop10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/environment.webp" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Environment</h4>
            <p class="card-text"> Upload a need or a green technology and it will be automatically matched with content in the database</p>
            <button type="button" class="btn btngreen"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mtop10">
        <div class="card distinfo2 greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/study2.jpg" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Education Products</h4>
            <p class="card-text">Whether it’s the adoption of virtual and hybrid learning models, utilizing simulation software to ease the pain of staff shortages </p>
            <button type="button" class="btn btngreen bottomalign"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>