<h2 class="centertext"><br><br>Testimonials</h2><br>
<div class="bgd">
  <div class="slide">
      <br>
      <br><br>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <div class="icon"><i class="fa-solid fa-users"></i></div> <br><br>
              <h3><b>"</b>Helped us to build a robust health <br> management product for Total<br> Care Systems.<b>"</b></h3>
              <br><br>
              <h4>---- O Henry ----</h4>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div class="icon"><i class="fa-solid fa-user-pen"></i></div> <br><br>
              <h3><b>"</b>You did a very good job <br>, give us a flexible ,<br> user friendly product management system.<b>"</b></h3>
              <br><br>
              <h4>---- Michael Chang ----</h4>
            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <div class="icon"><i class="fa-solid fa-user-tie"></i></div> <br><br>
              <h3><b>"</b>Really thankful to you  <br>for give a complete solution for <br> automated finance management system.<b>"</b></h3>
              <br><br>
              <h4>---- Bruze Warniers ----</h4>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

    </div>

</div>