<!-- 4*4 -->
<br><br><br>
<h3 class="centertext">Services Offered</h3><br><br>
<div class="container Mtop10 wper100"  > 
    <!-- First Row -->
    <div class="row Mbottom10">
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;">  
          <img src="assets/images/CMS development.png" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">CMS Development</h4>
            <p class="card-text">Developing and deploying a Content Management System is more about deploying a system that will work within your organizational workflows.</p>
            <button type="button" class="btn btngreen"> <a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/MobileApp.gif" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Mobile Apps</h4>
            <p class="card-text">We develop mobile versions of your websites and applications and increase access channels for your users with our mobile development services.</p>
            <button type="button" class="btn btngreen"> <a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mbottom10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/webapplication.jpg" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Web Applications</h4>
            <p class="card-text">We deliver robust, mission-critical web applications that take into account a range of business and technology scenarios. Tell us about yours today!</p>
            <button type="button" class="btn btngreen"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
     
    </div>
     <!-- Second Row -->
     <div class="row Mtop10">
      <div class="col-md-4 Mtop10">
        <div class="card distinfo greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/ecommerceapplication.jfif" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">E-commerce Development</h4>
            <p class="card-text">Developing your e-commerce application requires an understanding of both the technology as well as the business side of your trading system. Here we excel at both!</p>
            <button type="button" class="btn btngreen"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="col-md-4 Mtop10">
        <div class="card distinfo2 greenShadow" style="width: 300px;"><!--margin: auto;--> 
          <img src="assets/images/maintenance.jfif" class="card-img-top" height="50%">
          <div class="card-body">
            <h4 class="card-title">Application Maintenance</h4>
            <p class="card-text">We follow a rigorous process in maintaining and supporting your application to ensure continuous uptime. Tell us about your application software maintenance needs and be assured of peace of mind! </p>
            <button type="button" class="btn btngreen bottomalign"><a href="#">Read More</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
